{% block body %}
<html>
<table>
	<tr>
		<th>Schedule_id</th>
		<th>Year</th>
		<th>Month</th>
		<th>Week</th>
		<th>Day_of_week</th>
		<th>Time</th>
	</tr>
	{% for s in all_sch %}
		<tr><td>{{s.sid}}</td><td>{{s.year}}</td><td>{{s.month}}</td>
		<td>{{s.week}}</td><td>{{s.dow}}</td><td>{{s.time}}</td></tr>
	{% endfor %}
{% endblock %}